{% load static %}

<footer class="footer">
    <div class="footer-content">

    <div class="affiliations">
        <div class="img-container-footer">
            <img src="{% static 'image/Affiliazione1.png' %}" alt="Affiliate 1">
            <p>Security Guard Hub</p>
        </div>
        
        <div class="img-container-footer">
            <img src="{% static 'image/Affiliazione2.png' %}" alt="Affiliate 2">
            <p>Eco-Hub sistemy</p>
        </div>
    </div>

    <div class="footer-logo">
        <p>© FinHub Credit Bank 2025 - Partita Iva 62586050866</p>
            
    </div>
    </div>
</footer>