{% load static %}

<!DOCTYPE html>
<html lang="it">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>PFH – Registrati</title>
  <link rel="icon" href="{% static 'image/iconaWeb.png' %}" type="image/png">
  <link rel="stylesheet" href="{% static 'css/login_register.css' %}">
</head>

<body>

  <div class="backdrop"></div>

  <div class="container-login">

    <div class="login-aside">
      <div class="aside-content">

        <img src="{% static 'image/logo.png' %}" alt="FinHub Credit Bank">

        <h2>Il tuo conto intelligente</h2>
        <p>Crea il tuo account per iniziare a monitorare le tue finanze.</p>
        <p class="mt-4">
          Hai già un account?
          <a href="{% url 'login' %}" class="link">Accedi</a>
        </p>

      </div>
    </div>

    <div class="login-main">
      <div class="login-card">
        <h2>Registrati</h2>

        <div id="reg-error" class="error-msg"></div>
        <div id="reg-success" class="success-msg"></div>

        <form id="register-form" class="form">

          <div class="form-group">

            <div class="header-input">
                <img src="{% static 'image/email.png' %}" alt="">
                <p>Email</p>
            </div>

            <div class="input-icon">
              <input type="email" id="email" name="email"
                     placeholder="es. nome@esempio.com" required>
            </div>
            <span class="field-error" id="email-error"></span>
          </div>

          <div class="form-group">

            <div class="header-input">
                <img src="{% static 'image/password.png' %}" alt="">
                <p>Password</p>
            </div>

            <div class="input-icon">
              <input type="password" id="password" name="password"
                     placeholder="Minimo 8 caratteri" required>
            </div>
            <span class="field-error" id="password-error"></span>
          </div>

          <div class="form-group">

            <div class="header-input">
                <img src="{% static 'image/successo.png' %}" alt="">
                <p>Conferma Password</p>
              </div>

            <div class="input-icon">
              <input type="password" id="re_password" name="re_password"
                     placeholder="Ripeti password" required>
            </div>
            <span class="field-error" id="re-password-error"></span>
          </div>

          <button type="submit" class="btn-primary">Registrati</button>
        </form>
      </div>
    </div>

  </div>

  <script src="{% static 'js/register.js' %}"></script>
</body>
</html>
